* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background: url('https://img.freepik.com/free-vector/gradient-blue-background_23-2149322711.jpg?w=826&t=st=1689061913~exp=1689062513~hmac=4023e950e2e981d50d1a2d27f61ea2164d2c2bee34344519916715f662cbede1') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); 
}

.login-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-out;
}

.login-card h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #313cb8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.signup-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link a {
    color: #2197e0;
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.login-card h3 {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    margin-bottom: 30px;
    margin-top: -10px;
}



.orbit-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 37%;
    transform: translateX(-50%);
}

