<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DesiLingo - Welcome</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="hero">
       
        <div class="character-track">
            <img src="/static/images/peacock.png" alt="Character 1">
            <img src="/static/images/cat.png" alt="Character 2">
            <img src="/static/images/elephant.png" alt="Character 3">
            <img src="/static/images/parrot.png" alt="Character 4">
        </div>
        
        <h1 class="hero-heading">Welcome to <span>DesiLingo</span></h1>
        <p class="tagline">Speak Desi. Live Bold. Own the Lingo.🗣🤟</p>
        <div class="btn-group">
            <a href="/signup" class="btn">Sign Up</a>
            <a href="/login" class="btn btn-outline">Login</a>
            <a href="/roadmap" class="btn btn-outline">Roadmap To Desilingo</a>
        </div>
    </section>
</body>
</html>