<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/roadmap.css">
</head>
<body>
    <section class="final-section">
        <img src="/static/images/roadmap.jpg" alt="DesiLingo Preview" class="final-image" />
      
        <div class="final-buttons">
          <a href="/signup" class="btn">Sign Up</a>
          <a href="/login" class="btn btn-outline">Login</a>
        </div>
      </section>
      
</body>
</html>